.nameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;

  .icon {
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
  }

  .title {
    color: white;
    margin-left: 12px;
    flex-grow: 1;
    margin-bottom: 0;
  }
}
