.header {
  background-color: white;
  height: 80px;
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  align-items: center;

  .headerTitle {
    margin-bottom: 0;
    margin-left: 32px;
    justify-self: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;

    @media screen and (max-width: "576px") {
      font-size: 20px;
      margin-left: 16px;
    }
  }

  .btnAvatar {
    margin-left: auto;
    border: none;
    padding: 0;
    width: 48px;
    height: 48px;
    display: flex;
    border-radius: 24px;

    :hover {
      cursor: pointer;
    }
  }

  .avatar {
    background-color: red;
  }
}
