.escalationWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  .escalationHeader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.escalationCard {
  margin-bottom: 16px;
  border-radius: 6px;
}

.escStatLabel {
  margin-bottom: 0;
  color: #808080;
}

.escStatValue {
  margin-bottom: 0;
  font-size: 18px;
}
