.signInBox {
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

  .signInHeader {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
  }

  .mumeneenNotification {
    font-size: 14px;
    color: #888888;
    font-weight: 500;
  }

  .masoolNotification {
    font-size: 16px;
    color: red;
  }
}
