.subSectorCard {
  width: 100%;
  border-radius: 10px;
  .cardContent {
    padding: 24px;
    .cardHeading {
      font-weight: 700;
      text-align: center;
    }
    .inchargeDetails {
      line-height: 1;
      margin-top: 30px;
      .detailsTitle {
        font-size: 16px;
        color: gray;
        margin-bottom: 0;
        line-height: 1.5;
      }
      .detailsValue {
        font-size: 18px;
      }
    }
  }
  .cardFooter {
    border-radius: 0px 0px 10px 10px;
    .footerContent {
      padding: 20px;
      color: white;
      .footerContentTitle {
        font-size: 20px;
      }
      .footerDetails {
        .personIcon {
          font-size: 40px;
          margin: 0 10px;
        }
        .personCount {
          font-size: 36px;
          margin: 0 10px;
        }
      }
    }
  }
}
