.content {
  height: 100vh;
  margin-top: 80px;
  padding: 20px 32px;
}

.navhead {
  text-align: center;
  padding-top: 20px;
}

.userinfo {
  text-align: center;
}

.logoutlogo {
  margin-right: 5px;
}
