.header {
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
  .headerTitle {
    margin: auto;
  }
}

.content {
  height: 100vh;
}

.navhead {
  text-align: center;
}

.userinfo {
  text-align: center;
}

.logoutlogo {
  margin-right: 5px;
}
