.container {
  display: flex;
  justify-content: space-between;
  // background: white;
}

.filtersContainer {
  border-right: 1px solid #ddd;
  background: white;
  overflow-y: auto;
}

.filterContainer {
  border-bottom: 1px solid #ddd;
}

.filterContainer:last-child {
  border-bottom: none;
}
