.infoCol {
  display: flex;
}

.subSectorCardsWrapper {
  display: flex;
  min-width: 720px;
  margin-top: 50px;
  .subSectorCard {
    padding: 0;
    .cardContent {
      padding: 20px;
      padding-left: 0;
      .cardHeading {
        font-weight: 700;
        padding-left: 24px;
      }
    }
    .cardFooter {
      background-color: #a9d18e;
      .footerContent {
        padding: 20px;
        color: white;
        .personCount {
          font-size: 30px;
        }
      }
    }
  }
}
